@container-width: 320px;
@footer-height: 460px;

@screen-md: 768px;
@screen-xl: 1200px;

@bg-color: #282828;
@bg-color-menu-active: #826550;
@bg-color-menu-btn: #6a4d38;
@bg-color-menu-btn-hover: #624530;
@bg-color-menu-btn-active: #624530;
@bg-color-menu-active: #826550;
@bg-color-menu-active-hover: #755a46;
@bg-color-menu-active-down: #6a4d38;
@bg-color-menu-open: #6a4d38;
@color-border: #71543f;
@color-border-shadow: #886e5b;
@color-black: #000;
@color-white: #fff;
@color-menu-hover: #826550;
@color-menu-item-active: #826550;
@color-menu-hover-desk: #fff;
