.btn {
  display: block;
  padding: 12px 29px;
  border: 1px solid @color-border-btn;

  font-family: "PTSansNarrowBold";
  font-size: @font-size-base;
  line-height: @font-size-large;
  text-align: center;
  text-transform: uppercase;
  color: @color-black;
}
